* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: black;
}

body {
	font-family: Arial;
	background-color: black;
	height: 100%;
}

h1 {
	font-size: large ;
	margin: 10px;
}
