body {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
}

.header {
	flex-basis: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.sidebar {
	flex-basis: 25%;
}

.content {
	flex-basis: 50%;
}

.footer {
	flex-basis: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@media screen and (max-width: 500px) {
	.content {
		flex-basis: 100%;
	}
	.sidebar {
		flex-basis: 100%;
}
