<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
                <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PHK6Q2624M"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PHK6Q2624M');
        </script>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}">
        <title>Profiles</title>
    </head>
    <body>
        <div class="header">
            <h1>Profiles</h1>
        </div>
        <aside class="sidebar">
        </aside>
        <div class="content">
            {% if profiles_list %}
            <ul>
                {% for profile in profiles_list %}
                <li class="item">
                    <a href="{% url 'profile' username=profile.user.username %}">
                        {{ profile.user.username }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No profiles are available.</p>
            {% endif %}
        </div>
        <aside class="sidebar secondary">
        </aside>
        <footer class="footer">
            <div><a href="{% url 'index' %}">Home</a></div>
            <div><a href="{% url 'lettings_index' %}">Lettings</a></div>
        </footer>
    </body>
</html>
