<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}">
        <title>{{ profile.user.username }}</title>
    </head>
    <body>
        <div class="header">
            <h1>{{ profile.user.username }}</h1>
        </div>
        <aside class="sidebar">
        </aside>
        <div class="content">
            <p>First name: {{ profile.user.first_name }}</p>
            <p>Last name: {{ profile.user.last_name }}</p>
            <p>Email: {{ profile.user.email }}</p>
            <p>Favorite city: {{ profile.favorite_city }}</p>
        </div>
        <aside class="sidebar secondary">
        </aside>
        <footer class="footer">
            <div><a href="{% url 'profiles_index' %}">Back</a></div>
            <div><a href="{% url 'index' %}">Home</a></div>
            <div><a href="{% url 'lettings_index' %}">Lettings</a></div>
        </footer>
    </body>
</html>